.imagenCliente img{
    width: 300px;
    height: 300px;
}


.popupclase {
    border-radius: 300px;
}

.swal2-title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
  }

  .swal2-popup {
    font-size: 1.6rem !important;
    font-family: Georgia, serif;
  }